<div id="todo-bar">
  <div id="todo-bar-title">
    <h3>TODOs</h3>
  </div>
  <div id="todo-bar-welcome">
    <h4>CURRENT</h4>
    <p>{{calendar.get_time()}}</p>
    <p>{{calendar.get_weekday()}}</p>
    <p>{{calendar.get_date()}}</p>
  </div>
  <div>
    <h4>Add new TODO</h4>
    <form id="todo-adder" class="todo-editor todo-adder" method="POST" action="/add-todo">
      <label for="date">Date: </label>
      <input type="date" class="todo-editor-date" name="date" value={{calendar.get_date()}}>
      <label for="text">Text: </label>
      <textarea type="text" class="todo-editor-text" rows=7 name="text" placeholder="<text>"></textarea>
      <input type="submit">
    </form>
  </div>
  <div id="todo-list">
    {%- for n, todo in calendar.todos_of_month -%}
      <div id="todo-{{n}}" class="todo">
        <p class="todo-repr">({{n}}) {{todo.date.__str__()}}</p>
        <p class="todo-text">{{todo.text}}</p>
        <div class="todo-buttons">
          <form method="POST">
            <button type="submit" id="todo-deleter-{{n}}" class="todo-deleter" formaction="/remove-todo/{{n}}">x</button>
          </form>
          <button id="todo-toggler-{{n}}" class="todo-toggler" onclick="toggleTodoEditor({{n}})">⬍</button>
        </div>
        <form id="todo-editor-{{n}}" class="todo-editor" method="POST" action="/change-todo/{{n}}">
          <label for="date">Date: </label>
          <input type="date" class="todo-editor-date" name="date" value={{todo.date.__str__()}}>
          <label for="text">Text: </label>
          <textarea type="text" class="todo-editor-text" rows=7 name="text" placeholder="<unchanged>">{{todo.text}}</textarea>
          <input type="submit">
        </form>
      </div>
    {%- endfor -%}
  </div>
</div>  
<div id="calendar-container" class="debug">
  <div id="calendar-title" class="debug">
    <h3>Calendar</h3>
    <div id="month-switcher">
    <form method="POST" action="/change-cal-unit?month={{calendar.current_date.month - 1}}">
      <button type="submit" class="switch-button">-</button>
    </form>
      <p>{{calendar.current_date.month}}</p>
    <form method="POST" action="/change-cal-unit?month={{calendar.current_date.month + 1}}">
      <button type="submit" class="switch-button">+</button>
    </form>
    <form method="POST" action="/change-cal-unit?year={{calendar.current_date.year - 1}}">
      <button type="submit" class="switch-button">-</button>
    </form>
      <p>{{calendar.current_date.year}}</p>
    <form method="POST" action="/change-cal-unit?year={{calendar.current_date.year + 1}}">
      <button type="submit" class="switch-button">+</button>
    </div>
  </div>
  <div id="calendar-days" class="debug">
  {% for date in calendar.dates_of_month %}
    <div class="debug calendar-day">
      <p class="day-date debug">{{date.month}}/{{date.day}}</p>
      {% set len = calendar.day_todos(date).__len__() %}
      {% if len != 0 %}
        <p class="day-todos">{{calendar.preview_day_todos(date)|safe}}</p>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>
