<!doctype html>
<html>
  <head>
    <title>Intranet Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body> 
    <div class="container">
      <div id="title">
        <h2>DevOps-Infra</h2>
      </div>
      <div id="contentButtons" class="content-buttons">
        <!-- Generate content buttons -->
        {% for CONTENT in Content.contextual_contents().values() %}
          <a href="/{{CONTENT.name}}" class="{{CONTENT.css_classify_button(selected_content)}}" id="{{CONTENT.name}}Button">{{CONTENT.capitalized}}</a>
        {% endfor %}
      </div>

      <!-- Generate contents -->
      {% for CONTENT in Content.HAS_TEXT().values() %}
        <div id="{{CONTENT.name}}" class="{{CONTENT.css_classify_content(selected_content)}}">
          {% include CONTENT.html %}
        </div>
      {% endfor %}
  </body>
</html>