<!doctype html>
<html>
  <head>
    <title>Intranet Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body> 
    <div class="container">
      <h2>DevOps-Infra</h2>
      <div id="contentButtons" class="content-buttons">
        <a href="#" class="tag" id="contentButton1" onclick="showContent('contentButton1', 'content1')">Login</a>
        <a href="#" class="tag" id="contentButton2" onclick="showContent('contentButton2', 'content2')">Welcome</a>
        <a href="#" class="tag" id="contentButton4" onclick="showContent('contentButton4', 'content4')">Members</a>
        <a href="#" class="tag" id="contentButton5" onclick="showContent('contentButton5', 'content5')">News</a>
        <a href="#" class="tag" id="contentButton6" onclick="showContent('contentButton6', 'content6')">CI/CD Status</a>
        <a href="#" class="tag" id="contentButton7" onclick="showContent('contentButton7', 'content7')">About</a>
      </div>
      <div id="content1" class="content">
        <p>This is the content for Content 1.</p>
      </div>
      <div id="content2" class="content">
        <p>This is the content for Content 2.</p>
      </div>
      <div id="content3" class="content">
        <p>This is the content for Content 3.</p>
      </div>
      <div id="content4" class="content">
        <p>This is the content for Content 4.</p>
      </div>
      <div id="content5" class="content">
        <p>This is the content for Content 5.</p>
      </div>
      <div id="content6" class="content">
        <p>This is the content for Content 6.</p>
      </div>
      <div id="content7" class="content">
        <p>This is the content for Content 7.</p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>