<!doctype html>
<html>
  <head>
    <title>Intranet Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body> 
    <div class="container">
      <h2>DevOps-Infra</h2>

      <div id="contentButtons" class="content-buttons">
        <!-- Generate content buttons -->
        {% for CONTENT in CONTENTS %}
          {% if CONTENT == 'login' %}
            {% if current_user.is_authenticated %}
              <a href="/logout" class="contentButton" id="logoutButton">Logout</a>
            {% else %}
              <a href="/login" class="tag" id="loginButton" onclick="showContent('loginButton', 'login')">Login</a>
            {% endif %}
          {% else %}
            <a href="/{{CONTENT}}" class="tag" id="{{CONTENT}}Button">{{CONTENT}}</a>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Generate contents -->
      {% for CONTENT in CONTENTS %}
        <div id="{{CONTENT}}" class="content">
          {% include {{CONTENT}} + '.html' %}
        </div>
      {% endfor %}

      <!-- Set what content is displayed -->
      <script>
        
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>