<div id="todo-bar" class="debug">
  <div id="todo-bar-title" class="debug">
    <h3>TODOs</h3>
  </div>
  <div id="todo-list" class="debug">
    <div id="todo" class="debug">
      <p class="todo-repr">(1) 2023-06-06</p>
      <p id="todo-title">Wordswordswords I AM TYPING WOORDS</p>
      <button class="todo-expand-button">↓</button>
    </div>
  </div>
</div>  
<div id="calendar-container" class="debug">
  <div id="calendar-title" class="debug">
    <h3>Calendar</h3>
  </div>
  <div id="calendar-days" class="debug">
  <
  </div>
</div>
