
<!DOCTYPE html>
<html>

<head>
    <title>Members</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to the Member Page</h1>
    
    <h2> Member's Detail</h2>

    <img src="images/logo.png" alt="Company Logo">

    <p>Emanuel Johnson Godin, emanuelj@interikea.com </p>
    <p>Hanway Tran, hanwayt@interikea.com</p>
    <p>Vanisha Shah, vanishas@interikea.com</p>

    <p>Not a member? <a href="members.html">Sign up</a> </p>

    </div>
    <script src="script.js"></script>
</body>

</html>


