<!DOCTYPE html>
<html>

<head>
    <title> DevOps Intranet</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Welcome to the DevOps Intranet</h1>
        <p>Kepping you connected and informed</p>
    </header>

    <nav>
        <u1>
            <li><a href="#login">Login</a></li>
            <li><a href="#calendar">Calendar</a></li>
            <li><a href="members">Members</a></li>


        </u1>
    </nav>

    <h2>Latest News</h2>
    <article>
        <h3>Company-wide Meeting: August 18th, 2023</h3>
        <p>Don't Miss the important company-wide meeting on Augutst 18th ,for latest update and iniatives.
        <p>
    </article>
    <artical>
        <h3> New project Annoucement</h3>
        <p>We are exited to announce a new project that aims to revoulutionize our customer experience. Stay tuned for
            more details. </p>
    </artical>

    <section id="calendar">
        <h2>Upcoming Events</h2>
        <div class="calendar-widget">

        </div>
    </section>

    <footer>
        <p>Company Intranet &copy; 2023</p>
    </footer>

    <script src="script.js"></script>


</body>

</html>
